<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href="{{ url_for('static',filename='favicon.ico') }}">
    <title>NUAA_iCal课程表</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/font-awesome.min.css')}}">
    <!-- <link rel="stylesheet" type="text/css" href="./static/util.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css')}}">

    <!-- 
    <script type="text/javascript">
    $("#form1").bind("submit", function(){  
        location.reload();  
    });
    </script> 
    -->
    <style>
        footer {
            text-align: center;
        }
        
        img {
            height: 35px;
            width: 90px;
            border-radius: 5px;
        }
    </style>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?30c55341ebeaa8f7a62f974564dc47c3";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
        console.log("This is NUAA_iCal_Web...\nFor more information, Please refer to https://github.com/miaotony/NUAA_iCal_Web ");
    </script>
</head>

<body>
    <!-- <h1><strong> NUAA_iCal课程表 </strong></h1>
    <form id="form1" action="/" method="post">
        <p class="input">学号： <input name="stuID"></p>
        <p class="input">密码： <input name="stuPwd" type="password"></p>
        <p class="input">验证码：<input name="captcha"><img src="{{pic_captcha}}">
            <p><button type="submit">登录 & 导出iCal日历文件</button></p>
    </form> -->

    <div class="limiter">
        <div class="container-login100">

            <div class="wrap-login100">

                <div class="login100-form-title" style="">
                    <span class="login100-form-title-1">NUAA_iCal课程表</span>
                </div>
                <form class="login100-form validate-form" id="form1" action="/" method="post">
                    <div class="wrap-input100 validate-input m-b-26" data-validate="用户名不能为空">
                        <!-- <span class="label-input100">用户名</span> -->
                        <input class="input100" type="text" name="stuID" placeholder="请输入学号">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate="密码不能为空">
                        <!-- <span class="label-input100">密码</span> -->
                        <input class="input100" type="password" name="stuPwd" placeholder="请输入教务系统密码">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-18" data-validate="验证码不可为空">
                        <!-- <span class="label-input100">验证码</span> -->
                        <input class="input100" type="text" name="captcha" placeholder="请填写验证码">
                        <img src="{{pic_captcha}}">

                        <span class="focus-input100"></span>
                    </div>
                    <br/>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit">登录 & 导出iCal日历文件</button>
                    </div>
                </form>
            </div>
        </div>
        <footer>
            <p>Web端测试中……</p>
            <p>For more information, please refer to
                <a href="https://github.com/miaotony/NUAA_iCal_Web">NUAA_iCal_Web</a>.</p>
            <h4><strong>Copyright © 2019-2020 <a href="https://github.com/miaotony">MiaoTony</a>. </strong></h4>
        </footer>
    </div>

</body>

</html>