<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href="{{ url_for('static',filename='favicon.ico') }}"> 
    <title>NUAA_iCal课程表</title>

    <!-- 
    <script type="text/javascript">
    $("#form1").bind("submit", function(){  
        location.reload();  
    });
    </script> 
    -->
</head>

<body>
    <h2><strong> NUAA_iCal课程表 </strong></h2>
    <form id="form1" action="/" method="post">
        <p>学号：   <input name="stuID"></p>
        <p>密码：   <input name="stuPwd" type="password"></p>
        <p>验证码：<input name="captcha"><img src="/get_captcha">
        <p><button type="submit">登录 & 导出iCal日历文件</button></p>
    </form>
    <br>
    <br>
    <br>
    <p>Web端测试中……</p>
    <p>For more information, please refer to 
        <a href="http://github.com/miaotony/NUAA_ClassSchedule">http://github.com/miaotony/NUAA_ClassSchedule</a>.</p>
    <h4><strong>Copyright © 2019 <a href="https://github.com/miaotony">MiaoTony</a>. </strong></h4>
</body> 
</html>
